html{
 overflow-x: -moz-scrollbars-none;
}

.global_icon{
  background: url('../../images/spritesheet.png') no-repeat;
  background-size: 370px 370px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.separator_100 {
  height: 100px;

  @include breakpoint-max(calc-rem(600)){
    height:50px;
  }
}

.responsive_image {
  max-width:100%;
  margin:0 auto;
}

:root {
  --primeColor:#323a45;
  --primebgColor:#f1f1f1;
  --white:#fff;
  --goldenColor:#C9A560;
  --primeGray: #878787;
  --primeGrayLight:#C5C3C6;
}

a:hover, a:focus {
  text-decoration: none;
}

.prime_button {
  background: var(--primeColor);
  border-radius: 32px;
  color:var(--white);
  font-size:calc-rem(16);
  font-weight: 500;
}