
@font-face {
  font-family: 'Avenir';
  src: url('../css/fonts/Avenir-Roman.eot');
  src: url('../css/fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/Avenir-Roman.woff') format('woff'),
  url('../css/fonts/Avenir-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../css/fonts/Avenir-Heavy.eot');
  src: url('../css/fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/Avenir-Heavy.woff') format('woff'),
  url('../css/fonts/Avenir-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../css/fonts/Avenir-Black.eot');
  src: url('../css/fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/Avenir-Black.woff') format('woff'),
  url('../css/fonts/Avenir-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../css/fonts/Avenir-Light.eot');
  src: url('../css/fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/Avenir-Light.woff') format('woff'),
  url('../css/fonts/Avenir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../css/fonts/Avenir-Medium.eot');
  src: url('../css/fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/Avenir-Medium.woff') format('woff'),
  url('../css/fonts/Avenir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('../css/fonts/Avenir-Book.eot');
  src: url('../css/fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/Avenir-Book.woff') format('woff'),
  url('../css/fonts/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

