.category_wrapper {
    margin:30px 0px;

}

.horizontal_scroll {
    overflow: scroll;
    white-space: nowrap;
    padding-left:15px;
}

.category {
    width:24%;
    display: inline-flex;
    justify-content: center;
    flex-flow: column;
    align-content: center;
    text-align: center;
    margin-right:15px;

    & img {
        margin-bottom:15px;
        border-radius: 50%;
    }

    & span {
        font-size: calc-rem(12);
        font-weight: 400;
    }
}

.gender_banner {
    padding:0px 15px;
    margin-bottom: 60px;
}

.section_title {
    font-size: calc-rem(23);
    font-weight: 400;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.brand_cards {
    padding:0px 15px;
    text-align: center;
    margin-bottom: 50px;
}

.brand_card_full {
    width:100%;
}

.brand_card_half {
    width:49%;
    display: inline-block;
    margin-top: 18px;
}

.brand_card_half_first {
    padding-right:7.5px;
}

.brand_card_half_second {
    padding-left:7.5px;
}

.personality_card {
    display: inline-block;
    width:80%;
    margin-right:10px;
}
