
@import "../../node_modules/bootstrap/scss/bootstrap-flex";
@import "../../node_modules/nouislider/distribute/nouislider.css";
html,body{
  height: 100%;
  background:#f5f5f5;
}
//hack for slick slider
*{
  min-height: 0;
  min-width: 0;
}
//mixin and common
@import "mixin";
@import "common";
@import "navigation";
@import "gender_landing";
