.header {
    background: var(--white);
}
.nav_section {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    margin-bottom:10px;
    position: fixed;
    z-index: 1;
    width: 100%;
    background:var(--white);
}

.cart_icon {
    height: 23px;
    width: 20px;
    display: inline-block;
    background-position: -4px -4px;
}

.burder_icon {
    height: 22px;
    width: 31px;
    display: inline-block;
    background-position: -57px -4px;
}

.search_bar {
  padding:70px 20px 10px;
    & input {
        border:none;
        line-height: 46px;
        background:var(--primegray);
        width:100%;
        text-align: center;
        border-radius: 5px;
    }
}

.search_bar_wrapper {
    background:var(--primebgColor);
    position: relative;
}

.search_icon {
    height: 20px;
    width:20px;
    display: inline-block;
    background-position: -29px -9px;
    position: absolute;
    top: 16px;
    left: 15%;
}

.home_action_btn {
    position: absolute;
    bottom:0;
}

.home_action_btn {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    a {
        background:var(--white);
        border-radius: 32px;
        line-height: 35px;
        color:#323a45;
        display: inline-block;
        width:130px;
        margin:0px 10px;
    }
}

.home_banner {
    position: relative;
    & h1 { 
    position: absolute;
    top: 40%;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 60px;
    color:var(--white);
    }
}

.sidebar {
    position: fixed;
    width:300px;
    left:-300px;
    background:var(--primebgColor);
    top: 0;
    bottom: 0;
    z-index: 2;
    transition: left 0.3s ease-in;
}

.sidebar_active {
    left:0;
    transition: left 0.5s ease-in-out;
}

.main_menu {
  padding:0;
  background:var(--primebgColor);
  display: flex;
  justify-content: space-around;
  margin:0;
    li {
        display: inline-block;
        width: 100%;
        padding:13px 0px;
        text-align: center;
        margin: 0;
        font-size: calc-rem(16);
        color:var(--primeGray);
        font-weight:500;
    }
}

.gender_active {
    color:var(--primeColor) !important;
    background:var(--white);
    border-bottom:3px solid var(--primeColor);
    box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.103);
}

.background_fadein {
    background:rgba(0, 0, 0, 0.8);
    position:absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
    display: none;
}

.women {
    display: none;
}

.submenu {
    padding-left:0;
    
    & > li {
        list-style: none;
        margin-bottom:2px;
        background:var(--white);
        
        & a {
            color:var(--primeColor);
            font-size:calc-rem(15);
            font-weight: 400;
            padding:15px 0px 15px 25px;
            display: block;
        }
    }
}

.accordian_wrapper {
    & input {
        display:none; 
    }

    & label {
        width:100%;
        padding:15px 0px 15px 25px;
        margin:0;
    }
}

.accordian_wrapper input:checked ~ .inner_submenu {
    height: 300px;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -ms-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
}

.inner_submenu {
    height: 0;
    overflow: hidden;
    padding-left:15px;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out,;
     & > li {
        list-style: none;
        margin-bottom:2px;
        background:var(--white);
        

        & a {
            padding:15px 0px 15px 25px;
            color:var(--primeColor);
            font-size:calc-rem(15);
            font-weight: 300;
            display: block;
        }
     }
}

.counts {
    display: inline-block;
    margin-left: 10px;
    color: var(--primeGray);
    font-size: calc-rem(13);
}

.open_arrow {
    border: solid var(--primeGray);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    height: 10px;
    width: 10px;
    margin-top: 6px;
}

.logged_in {
    display: none;
}

.account_wrapper {
    padding-left:0;
    li {
        list-style: none;
        margin-bottom:2px;
        background:var(--white);
        
        & a {
            padding:15px 0px 15px 25px;
            color:var(--primeColor);
            font-size:calc-rem(15);
            font-weight: 300;
            display: block;
        }
    }
}

.account_title {
    display: block;
    font-size:calc-rem(15);
    font-weight: 400;
    padding:15px 0px 15px 25px;
    background: var(--white);
    color:var(--primeGrayLight);
    letter-spacing: 1.6px;
}

.home_two_card {
    padding:25px 15px;
    & img {
        margin-bottom:15px;
    }
}

.subscription {
    background:#C4D0D9;
    color:#fff;
    text-align: center;
    padding:35px 0px 40px;
    width:100%;
    
    & p {
        font-size: calc-rem(20);
        font-weight: 500;
        margin-bottom: 5px;
    }

    & span {
        font-size: calc-rem(15);
        font-weight: 500;
        display: block;
        margin-bottom:30px;
    }
}

.subscribe_input {
    display: block;
    width: 290px;
    margin: 0 auto 15px;
    line-height: 38px;
    border-radius: 32px;
    border: none;
    padding-left:15px;
    font-size: calc-rem(15);
    color:var(--primeGray);
    font-weight: 500;

}

.subscribe_button {
    display: block;
    width:290px;
    margin:0 auto;
    line-height: 38px;
    border: none;
}